<head>
  <title>Vue.js to do list</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

  <div id="vueApp">
    <i>Enter description for a task below... Press enter to submit it</i>
    <br />
    <input type="text" v-model="input" v-on:keyDown.enter="addNewTask"/>
    Category: <jsonexplorer :object="tasks" v-on:new-item-selected="updateCategory"></jsonexplorer>
    <h2>To do:</h2>
    <div v-for="(value, key) in  tasks">
      <h3> {{ key }} </h3>
      <todotask v-for="task in value" :task="task"></todotask>
    </div>
  </div>

  <script src="main.js"></script>
</body>
